* {
    margin:0;
    padding:0;
}

body {
    
    display:flex;
    justify-content: center;
    align-items: center;
    padding:20px;
}

.card {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 3fr 1fr 1fr;
    gap:20px;
    width: 550px;
    margin: 50px;
}

input {
    padding: 5px 10px; 
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    box-sizing: border-box; 
}

.card-front {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    z-index: 2;
    background-color: rgb(210, 210, 210);
    border-radius: 12px;
    padding:30px;
    box-shadow: 4px 4px 8px rgb(117, 117, 117);
    
}

.card-back {
    grid-column: 2 / 4;
    grid-row: 2 / 4;
    z-index: 1;
    background-color: rgb(210, 210, 210);
    border-radius: 12px;
    padding-top:20px;
    box-shadow: 4px 4px 8px rgb(117, 117, 117);
    height: 170px;
    width: 100%;
    padding-bottom: 20px;
}
.card-front{
    display:grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto auto;
    gap:12px;
    column-gap: 30px;
}


.total-label {
    grid-column:1/2 ;
}

.card-logo {
    grid-column: 2/3;
    display: flex;
    justify-content: flex-end;
    font-size: 30px;
}

.input-group {
    display:flex;
    flex-direction: column;
    gap:8px;
}

.card-number {
    grid-column:1/2 ;
    grid-row: 2/3;
}

.card-holder {
    grid-column:1/2 ;
    grid-row: 3/4;
}

.CardExpiration {
    display:grid;
    grid-template-columns: 60px 60px;
    grid-template-rows: auto auto;
    grid-row: 3/4;
    grid-column: 2/3;
}

.card-expiration label {
    grid-column: 1 / 3;
}
#month {
    grid-column:1/2 ;
    grid-row: 2/3;
}

#year {
    grid-column:2/3 ;
    grid-row: 2/3;
}

.card-back {
    position:relative;
    
}

.magnetic-strip {
    background-color: black;
    height:40px;
    margin-bottom: 20px;
    width: 100%;
}

.cvv-group {
    position: absolute;
    right: 20px;
    bottom: 30px;
    width: 70px;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

#submitButton {
    grid-column: 3/ 4;
    grid-row: 4 / 5;
    align-self: center; 
    padding: 10px;
    color: black;
    border: solid #333 2px;
    border-radius: 10px;
    font-size: 1.1rem;
    cursor: pointer;
}