@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Lobster&display=swap');

body {
    background-color: #d9d9d9;
    font-family: "cormorant Garamond", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    margin:0;
    padding:0;
}

header h1 {
    font-family: 'Lobster', cursive;
    font-weight:400;
    font-style:normal;
    text-align: center;
    font-size: 3rem;
}

header, footer {
    background-color:rgb(54,112,217) ;
    color:white;
    width:100%;
    padding: 1rem 0;
}

header {
    padding:1rem auto;
    padding-bottom: 0;
}

main {
    padding-bottom: 2rem;
}

main h2 {
    margin-bottom: 20px;
    font-size: 1.8rem;
    text-align: center;
}

header h1,
#btn,
nav,
main,
footer p{
  max-width: 1000px;
  margin: 1rem auto;
}
nav {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.3rem;
}
nav a {
    padding: 20px;
    color: white;
    display: inline;
}
nav a:hover {
    text-decoration: none;
    color: #171154;
}

#btn {
    font-family: cormorant Garamond, serif;
    cursor: pointer;
    border: none;
    background-color: transparent;
    text-align: center;
    color:white;
    font-size: 2rem;
    display:none;
    width:100%;
    padding: 10px 0;   
}

.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    justify-items: center;
    padding:20px;
}

.gallery img {
    width: 90%;
    aspect-ratio:1/1;
    object-fit: cover;
    display:block;
    border: 4px solid white;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.729);
    margin: 5px 10px;
}

footer {
    text-align: center;
    margin-top:40px;
}

@media screen and (max-width: 1000px) {
    .gallery {
        grid-template-columns: 1fr 1fr;
        padding:auto 20px;
    }
    .gallery img {
        width: 65%;
        margin: 10px;
    }
    nav a {
        display: none;
    }
    nav {
        padding:0;
    }
    #btn {
        display: block;
    }
    
}

@media screen and (max-width: 600px) {
    .gallery {
        grid-template-columns: 1fr;
    }
    .gallery img {
        width: 80%;
        margin: 10px;
    }
}