* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Georgia, "Times New Roman", serif;
}

body {
    color:#333;
    padding: 1rem;
}

header,
main,
footer {
    margin:auto;
    background: white;
}

header {
    border-bottom: 3px solid #e6c8a8;
    text-align:center;
    padding: 1rem 0;
}
header h1 {
    padding-bottom:2rem;
}

nav ul {
    display:flex;
    justify-content:right;
    gap:1.5rem;
    list-style:none;
    padding-top:1rem;
    border-top:3px solid #e6c8a8;
}

nav a {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    text-decoration:none;
    color:#b23a2b;
    font-size:0.9rem;
    padding-right:2rem;
}

main {
    margin-top:3rem;
    border-top:3px solid #e6c8a8;
    
}

.book {
    display:grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    padding-bottom: 5rem;
}

.book-meta {
    grid-column: 2/3;
    font-size:0.85rem;
    text-align:right;
    color:#666;
    padding-right: 2rem;
}

.book-meta p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1rem;
    margin: 1rem auto;
}

.book-details {
    grid-column: 1/2;
    padding-left: 2rem;
}
.book-detail {
    margin: 1rem auto;
}

.book-details img{
   grid-column: 1/2;
   display:flex;
   justify-content: center;
   width:auto;
   height: auto;
   margin-top:20px;
   margin-bottom: 20px;
}

footer {
    border-top: 3px solid #e6c8a8;
    text-align: center;
    margin-top: 1rem;
    padding-top: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

@media (min-width:900px) {
    main {
        margin-top:0rem;
        border-top:0px transparent;
        padding: 3rem;
    }

    .book {
        grid-template-columns: 400px 1fr;
        grid-template-rows: auto;
        row-gap: 5rem;
    }
    .book-meta {
        grid-column: 1/2;
        border-right: 3px solid #e6c8a8;
    }
    .book-details{
        grid-column: 2/3;
        text-align: left;
    }
    .book-details img {
        height:400px;
        width: auto;
        display: inline;
        padding-left: 10rem;
    }
}